:root{
    /*Color*/
    --color-text: #323030;
    --color-primary: #9d9696;
    --color-secondary: grey;
    --color-dark: rgb(39, 138, 199);
    --color-bg:#e4e6e7cb;
  /*fonts*/
    --font-robot:"Roboto";


}